@import "tailwindcss";

:root {
  --primary: #022135;
  --secondary: #F4911D;
  --primary-hover: #01253d;
  --bg-main: #f9fafb;
}

@theme {
  --color-brand: var(--primary);
  --color-brand-secondary: var(--secondary);
  --color-brand-hover: var(--primary-hover);
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: var(--bg-main);
  color: #111827;
  
}

#root {
  min-height: 100vh;
}